.login-container{
    width: 100vw;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container .login{
    width: 70rem;
    min-width: 100vw;
    padding-top: 10rem;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(250, 240, 215));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container .login .heading{
    text-transform: uppercase;
    font-family: calibri;
    letter-spacing: 2px;
    transition: 1000ms;
}
.login-container .login .nonactive-heading{
    opacity: 0;
    transform: scale(0.2);
}
.login-container .login form{
    width: 50%;
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 0.267);
    text-transform: uppercase;
    transition: 1000ms;
}
.login-container .login .nonactive-form{
    opacity: 0;
    transform: scale(0.5);
}
.login-container .login #email{
    text-transform: lowercase;
}

.login-container .login form .submit-btn{
    display: flex;
    justify-content: center;
}
.login-container .login form button{
    width: 50%;
    transition: 200ms;
    text-transform: uppercase;
    border: none;
}
.login-container .login form button:hover{
    transform: scale(1.025);
}
.login-container .login form button:active{
    transform: scale(0.98);
}

.login-container .login .register{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.336);
    box-shadow: 0px 0px 2px black;
    transition: 1000ms;
}
.login-container .login .nonactive-register{
    opacity: 0;
    transform: translate(0, 10rem);
}

.login-container .login .register:hover{
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: none;
}