.header2-container{
    box-sizing: border-box;
    height: 3rem;
    width: 100%;
    background-color: rgb(255, 255, 168);
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: 500ms;
}
.hidden-header2{
    opacity: 0;
    transform: translate(0, -6rem);
}
.header2-container .header2{
    width: 80rem;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(8, 10rem);
    font-family: calibri;
    text-transform: uppercase;
}
.header2-container .header2 a{
    text-decoration: inherit;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.header2-container .header2 .active{
    text-decoration: underline;
    color: #808080;
}

.header2-container .header2 .logo2{
    width: 6rem;
}