* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main-container{
	max-height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.containerItems{
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin-left: -60px;
	padding: 1rem 3rem;
	width: 550px;
	color:white;
}
.containerItems h1{
    font-size: 35px;
}

.containerItems p{
    font-size: 20px;
}
.container video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 98vh;
    object-fit: cover;
}
.main-heading{
    background-color: rgb(104, 143, 177);
    object-fit: cover;
    font-family: 'Times New Roman', Times, serif;
   
}
.heading{
    color :blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    /*text-align: center;
    color: rgb(60, 60, 214);
	background: #e3edf0;
	margin-left: 0%;
	width: 150%;*/
	
}
.main-heading1{
	text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
.main-heading1 h1{
    margin-left: 9%;
    font-size: 30px;
	width: 900px;
}
.main-heading1 p{
    margin-left: 28%;
    font-size: 20px;
    width: 500px;
    
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  .column h3{
   font-size: 40px;
   font-weight:bold;
  }
  .column p{
    font-size: 20px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .home-heading{
    height: 90vh;
   /* background: rgb(212, 212, 228);*/
  }
  .heading-main{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.heading-main h3{
    margin-left: 10%;
    font-size: 30px;
	width: 900px;
    color: blue;
}
.heading-main p{
    margin-left: 25%;
    font-size: 20px;
    width: 600px;
    
}

.image{
    float:right;
    margin-right: 9%;
}
.flex{
    
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}
.heading-Spring{
    box-sizing: border-box;
    background-color: rgba(188, 192, 245, 0.582);
    height: 28rem;
    width: 25rem;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 10%;
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.font-sans{
    text-align: center;
    font-size: 30px;
}
.paragraph{
    font-size: 16px;
    text-align: center;
}
.font-bold{
    font-weight: 700;
    text-align: center;
}
.button-spring {
    height: 48px;
    line-height: 48px;
    background-color: #08ee7b;
    color: #fff;
    text-align: center;
}
.button{
    text-transform: uppercase;
    letter-spacing: .1em;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    padding: 0 20px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 70%;
    margin-left: 55px;
    
}
.text{
    font-style: italic;
    font-size: 13px;
    text-align: center;
    
}
.text p {
    line-height: 1.9em;
}

.group-heading{
    height: 40vh;  
    margin-bottom: 3%; 
}
.home-heading1{
    position: absolute;
    width: 40%;
    background-color: rgb(154, 165, 196);
    padding: 9px;
    height: 27%;
    margin-left: 1%;
}
.fund-column{
    float: right;
    margin-right: 3%;
    width: 300px; 
}
.fund-column h4{
    font-weight: bold;
}
.fund-btn1{
line-height: 48px;
background-color: #1e5dda;
color: #fff;
border-radius: 3;

}
.home-heading2{
    position: absolute;
    width: 40%;
    background-color: rgb(154, 165, 196);
    padding: 9px;
    height: 27%;
    margin-left: 42%;
    
}

.fund-column1 h4{
    font-weight: bold;
}
.fund-column1{
    float: right;
    margin-right: 3%;
    width: 300px; 
}
.fund-btn1{
    line-height: 48px;
    background-color: #1e5dda;
    color: #fff;
    border-radius: 3;
    
}
.font-heading {
    margin-left: 35%;
    text-align: center;
    width: 30%;
}
.fund-column2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 340px;
    margin-left: 1%;
    position: absolute;
    font-size: 18px;
}
.fund-column2 h6{
    padding: 3%;
    font-size: 16px;
    font-weight: bold;
    color: #7ad8e9;
}
.fund-column2 h6{
    padding: 3%;
    font-size: 16px;
    color: #7ad8e9;
    text-align: center;
}
.home-heading4{
    margin-left: 34%;
    margin-top: -22.3%;
    font-family: 'Times New Roman', Times, serif;
}
.home-heading5{
    margin-left: 68%;
    
    margin-top: -22.3%;
    font-family: 'Times New Roman', Times, serif;
   
}
.fund-column2 h4{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
