.header-container{
    box-sizing: border-box;
    height: 4rem;
    color: rgb(24, 124, 212);
    font-weight: bolder;
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
   
}
.header{
    width: 70rem;
    /* background-color: red; */
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(8, 9rem);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-left: 40%;
}
.header div{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header div a{
    /* background-color: green; */
    text-decoration: none;
    color: rgb(58, 54, 250);
}
.header div .active{
    text-decoration: underline;
    color: #e0da9c;
}

.header .logo{
    width: 7rem;
    margin-left:-120% ;
}